body {
    font-family: 'Times New Roman', Times, serif;
}

p,
li,
a {
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    letter-spacing: 1px;
}
.mobile{
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.3;

}

img {
    width: 100%;
}

.container {
    width: 65%;
    margin: auto;
}

/* header */
header {
    margin-bottom: 25px;
}

header img {
    display: block;
    margin: auto;
    width: 170px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
}

header ul li {
    margin: 10px 15px;
    text-transform: uppercase;
}

header ul li a {
    color: #000;

    padding: 10px 15px;


}

header ul li a:hover {
    background-color: #b40024;
    color: white;
}

/* grey */

.grey {
    background-color: #e5e5e5;
    padding: 40px 0;
}

.div-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
}


.div-title hr {
    /* border-bottom: 1px solid rgb(203, 203, 203); */
    width: 30%;
    margin: auto;
}

.grey ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}

.grey ul li img {
    width: 30%;
    margin-bottom: 8px;
}


.grey .grey-second li img {
    width: 15%;
    margin-bottom: 8px;
}

.grey-p {
    text-transform: uppercase;
    font-weight: 600;
}

.hero {
    margin: 50px auto;
    margin-top: 0;
}

.hero h1 {
    text-align: center;
    color: #b40024;
    font-weight: 700;
    font-size: 70px;
    margin-top: 0;
}

.hero h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;

}

.landing-70-years-header__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-70-years-header__title {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 26px;
    color: #251619;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    line-height: 85%;
    width: 9em;
    height: 7em;
    padding-left: 3.2166em;
    padding-top: 4.3em;
    position: relative;
    text-align: center;

}

.landing-70-years-header__title strong {
    color: #fff;
    font-weight: normal;
    width: 3.9em;
    height: 5em;
    padding-right: 1em;
    padding-top: 2em;
    background-image: url(../images/heart.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.heart {

    margin: 50px auto;
    text-align: center;
}

.heart-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heart-img {
    width: 15%;

}

.heart h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;

}

.heart h2 span {
    font-size: 65px;
    color: #b40024;
    font-weight: 800;
    font-style: oblique;
}

.heart p {
    margin: 15px auto;
    width: 40%;

}

.banner {
    position: relative;
}

.banner .banner-div {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.banner .banner-div h2 {
    font-size: 40px;
    font-weight: 800;
    font-style: italic;


}

.order-btn {
    margin: 15px auto;
    display: block;
    text-align: center;
}

.cta {
    background-color: #b40024;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    display: block;
    padding: 10px 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
    border: none;
}


.cta:hover {
    background-color: white;
    color: #b40024;
}

.pink {
    background-color: #feb4b6;
}

.black {
    color: #000;
    margin: 10px auto;

}

.sw-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sw-text img {
    width: 120px;
}

.sw-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.sw-text h3 {
    font-size: 45px;
    width: 65%;
    font-weight: 500;
    line-height: 1;

}

.sw-text h3 span {
    display: block;
    text-align: end;
    margin-left: 25px;
    font-size: 50px;
    font-weight: 600;

}

.sw-text h4 {
    font-size: 30px;
}

.sw-text p {
    text-align: center;
    width: 70%;
    font-size: 20px;
    line-height: 1.2;
}

div.swiper-button-next,
div.swiper-button-prev {
    color: white;
}


.light-grey {
    background-color: #ced0cd;
}

.blue {

    background-color: #bfc7d5;
}

.grey-green {
    background-color: #aebdc6;
}

.sw {
    margin: 50px auto;
}


.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
}



/* product */

.product h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;

}

.products {
    margin: 50px 0;
    margin-bottom: 90px;
}

.product a {
    font-size: 18px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    border-radius: 15px;
}

.product img {
    mix-blend-mode: multiply;
}

.product:hover {
    background-color: #d8d9d97e;
}


.product-div {
    display: grid;
    grid-template-columns: 600px 1fr;
    column-gap: 40px;
}

.stars {
    width: 80px;
}

.cream-text h2 {
    color: #b40024;
    font-size: 30px;
}

.stars-div {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0;
}

.price span {
    color: #b40024;
    font-weight: 700;
    font-size: 23px;
}


.cream-text .order-btn a {
    width: 25%;
    font-size: 18px;

}

.description {
    margin: 12px 0;
}

marquee {
    text-transform: uppercase;
    font-weight: 600;
    background-color: #feb4b6;
    padding: 15px;
}

.title-product {
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 25px;

}

.about p {
    margin: 12px 0;
}

.about p a {
    text-decoration: underline;
    color: blue;
    font-weight: 600;
}


.ingr a {
    color: blue;
}


.journey {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;

}


.journey img {
    width: 100px;
}

.about p {
    margin-bottom: 20px;

}

.about p b {
    font-size: 20px;
}

.sw-ingr .swiper {
    width: 370px;
    text-align: center;
}

.mySwiper3 .swiper-slide {
    padding-bottom: 25px;
}

.sw2 {
    position: sticky;
    top: 0;
    margin: auto;
}

.mySwiper3 .swiper-slide img {
    width: 70%;
    margin: auto;
    display: block;
}


/* retinol */

.retinol {
    background: linear-gradient(0deg, #FFF 0%, #F8CBD4 100%);
    margin: 50px 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 20px;
}

.retinol-div {
    margin: auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    width: 70%;
    margin: auto;
    margin-right: -30px;
}


.retinol-div h2 {
    font-size: 60px;
    color: #ff3756;
}


.retinol-div p:nth-child(3) {
    margin-top: 20px;
    margin-bottom: 10px;
}


/* results */
.results p,
.results h3,
.results h4 {
    color: #333;

}

.result2 {
    width: 80%;
    border-radius: 8px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
    column-gap: 25px;
    background: linear-gradient(288deg, rgba(254, 235, 239, 0.60) 29.49%, rgba(254, 247, 248, 0.60) 102.45%), #FFF;
}

.result2 h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;

}

.result2 h4 {
    color: #FF3756;
    font-size: 20px;

}

.result2 img {
    width: 150px;
}


.result-text p {
    text-transform: uppercase;
    text-align: center;
}

.red {
    color: #FF3756 !important;
    margin-top: 15px;

}

.result-text {
    background: linear-gradient(288deg, rgba(254, 235, 239, 0.60) 29.49%, rgba(254, 247, 248, 0.60) 102.45%), #FFF;
    padding: 40px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.result1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
    margin: 50px auto;
}

.result1 img {
    width: 50%
}


.result-right {
    border-left: 1px solid #ccc;
    margin: auto;

    padding-left: 25px;

}

.result-left {
    margin: auto;
    padding-right: 25px;

}

.red span {
    font-size: 38px;
    font-weight: 900;
}

.application {
    color: #333;
    margin: 50px auto;
    background-color: #f9f8f7;
    padding: 50px 0;
}


.title {
    text-align: center;
    font-size: 27px;
    font-weight: 400;
    margin: 35px auto;
}


/* steps */

.steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center;  */
    column-gap: 25px;

}

.sec img {
    width: 25px;
}

.sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}

.step-title {
    font-size: 20px;
    margin: 20px 0;
    margin-bottom: 10px;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* reviews */
.reviews {
    margin: 60px auto;
}

.reviews-stars {
    text-align: center;
}

.reviews-stars img {
    width: 100px;
}

.reviews-stars div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin: 15px 0;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.review p {
    color: #666 !important;

}

.reviev-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reviev-start div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.reviev-start img {
    width: 90px;
}

.verif {
    width: 25px !important;
}

.review-title {
    font-weight: 900;
    margin-top: 10px;
}

.review {
    display: grid;
    grid-template-columns: 300px 1fr;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;

}

.review-name p:nth-child(1) {
    font-size: 20px;
    margin-bottom: 10px;
}

.review-name p {
    margin-bottom: 7px;
}

.recomm {
    margin: 15px 0;
}

.result2 .order-btn {
    width: 35%;
}

.result2 .order-btn a {
    background-color: #FF3756;
}

.result2 .order-btn a:hover {
    background-color: white;
    color: #FF3756;
}


.steps-video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 25px;
    margin: 50px auto;
    border: 1px solid #ccc
}

.steps-video p {
    width: 80%;
    margin: auto;
}

video {
    width: 100%;
}

.about ul {
    margin-left: 20px;
}

.about ul li {
    list-style-type: disc;
    margin-bottom: 5px;
}

.eye {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: auto;
}

.grey .grey-second {
    align-items: flex-start;
}


/* care */

.care-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.care-title img {
    width: 60px;
}

.we-care {
    position: relative;
}


.we-care-div {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.bullets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: flex-start;
    padding: 25px;
    column-gap: 25px;
}

.bullets svg {
    width: 50px;
    margin-bottom: 15px;

}

.bullets div:nth-child(2) svg {
    width: 60px;

}

.bullets div:nth-child(4) svg {
    width: 45px;
    margin-bottom: 10px;

}

.bullets div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    text-align: center;
}

.bullets div p b {
    margin-top: 15px;
    text-transform: uppercase;
}



/* footer */
footer {
    background-color: #202020d5;
    color: white;
    padding: 25px;
}

.footer-div a,
.footer-div p {
    color: white;
    margin: 8px 0;
    line-height: 1.3;
}

.footer-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: 25px auto;

    text-align: center;
}

.additional-links {
    display: flex;
    flex-direction: column;
}

.disclaimer {
    font-size: 12px;
    line-height: 1;
    width: 80%;
    margin: auto;
    text-align: center;
}


/* Frequently Asked Questions */

.faq-divs {
    margin: 35px auto;
}

.button-group {
    margin-top: 5px;
    border: 1px solid rgba(221, 221, 221, 0.42);
}

.button-group p.q {
    background: rgba(243, 243, 243, 1);
    padding: 20px;
}

p.a {
    display: none;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 5px;
    border-top: 1px solid rgba(221, 221, 221, 0.42);
}

.button-group p {
    margin: 0;
}




@media screen and (max-width: 1600px) {
    .container {
        width: 75%;
    }

    .product-div {
        display: grid;
        grid-template-columns: 550px 1fr;
        column-gap: 40px;
    }
}



@media screen and (max-width: 1400px) {
    .container {
        width: 80%;
    }

    .product-div {
        display: grid;
        grid-template-columns: 500px 1fr;
        column-gap: 40px;
    }
}


@media screen and (max-width: 1200px) {
    .container {
        width: 85%;
    }

    .product-div {
        display: grid;
        grid-template-columns: 450px 1fr;
        column-gap: 40px;
    }

    p,
    li,
    a { 
        line-height: 1.3;
        font-size: 14px; 
    }
    .hero h1 { 
        font-size: 50px; 
    }
    .hero h3 {  
        font-size: 35px;
    }
    .product a {
        font-size: 16px;
    }
    .product h2 { 
        font-size: 20px; 
    }
    .banner .banner-div h2 {
        font-size: 35px;  
    }

    .w-text h3 {
        font-size: 37px;
    }
    .sw-text h4 {
        font-size: 24px;
    }
    .sw-text p { 
        font-size: 16px; 
    }

    .we-care-div {
        width: 75%;
    }
    .grey ul { 
        column-gap: 15px;
    }
    .footer-div { 
        width: 95%;
    }
    .retinol-div h2 {
        font-size: 35px; 
    }
    .retinol-div { 
        width: 85%;
    }
    .review {
        display: grid;
        grid-template-columns: 250px 1fr;
    }
}


@media screen and (max-width: 994px) {
    .container {
        width: 90%;
    }

    .product-div {
        display: grid;
        grid-template-columns: 330px 1fr;
        column-gap: 25px;
    }

    .we-care-div { 
        position: unset; 
        transform: none;
        margin: auto;
    }

    .sw-text h3 {
        font-size: 30px;
        width: 75%;
        
    }

    .grey ul li img {
        width: 45%;
    }

    .grey .grey-second li img {
        width: 25%; 
    }

    .title { 
        font-size: 22px;
    }

    .sw-text p {
        text-align: center;
        width: 80%;
        font-size: 14px;
        line-height: 1.1;
    }
    .banner .banner-div h2 {
        font-size: 30px;
    }
 
}


@media screen and (max-width: 768px) {

    .container {
        width: 93%;
    }

    .product-div {
        display: block;
        margin: 25px auto;
    }
    .cream-text{
        margin-top: 30px;
    }

    .products{
        display: block;
        margin: 25px auto;
    }

    .product img{
        width: 80%;
        margin: auto;
    }

    .product{
        width: 60%;
        margin: 25px auto;
    }
    .banner .banner-div h2 {
        font-size: 22px;
    }
    .banner-div .order-btn{
        width: 75%;
        margin: auto;
    }

    .sw-div{
        display: block;
        margin: auto;
        width: 70%;
        margin: auto;
    }
    .sw-text{
        padding: 25px;
    }
    .we-care-div {
        width: 90%;
        margin: 25px auto;
    }
    div.swiper-button-next, div.swiper-button-prev {
        color: gray;
    }
    .sw-div img:nth-child(2) {
        display: none; 
    }
    .heart h2 {
        text-align: center;
        font-size: 30px;
    }
    .journey {
        width: 70%;
        margin: auto;
    }
    .retinol-div {
        width: 85%;
        margin: auto;
    }
    .retinol{
        display: block;
        padding: 25px 0;
    }
    .result1 {
        display: flex;
        flex-direction: column;
    }
    .result1 img {
        width: 72%;
    }
    .result2 h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 22px;
    }

    .result2 h4 {
        color: #FF3756;
        font-size: 18px;
    }


    p,
    li,
    a { 
        font-size: 12px; 
    }
    .result2 .order-btn {
        width: 70%;
    }
    .result2 {
        width: 100%;
    }

    .steps {

        display: block;
    }

    .step {
        width: 75%;
        margin: auto;
    }

    .review {
        display: grid;
        grid-template-columns: 150px 1fr;
        column-gap: 10px;
    }

    .steps-video{
        display: flex;
        flex-direction: column-reverse; 
    
    }
    .steps-video div{
        padding: 15px;
    }
    .review-name p:nth-child(1) {
        font-size: 16px;
        margin-bottom: 10px;
    }








}
@media screen and (max-width: 600px) {

    .mobile{
        display: block;
    }
    
    .heart h2 span {
        font-size: 40px;
    }
    
    .heart p {
        margin: 15px auto;
        width: 80%;
    }
    .banner .banner-div {
        position: unset; 
        transform: none;
    }
    .banner .banner-div h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .banner-div .order-btn {
        width: 65%;
        margin: auto;
    }





}
@media screen and (max-width: 414px) {
    .sw-div {
        display: block;
        margin: auto;
        width: 80%;
        margin: auto;
    }
header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
header ul li {
    margin: 10px;
    text-align: center;
}
.journey {
    width: 95%;
    margin: auto;
}

.step {
    width: 90%;
    margin: auto;
}
header ul li a{
    padding: 0;
}
.eye { 
    width: 85%;
}
.review {
    display: block;
}
.review-name{
    margin-bottom: 10px;
}
.about p b {
    font-size: 16px;
}
.title-product {
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 20px;
}

.hero h1 {
    font-size: 35px;
}
.hero h3 {  
    font-size: 25px;
} 
.title {
    font-size: 18px;
}
.bullets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    padding: 25px;
     gap: 25px;

}

.grey ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.hero h3 {
    font-size: 20px;
}
}